@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
html{
  font-family: Chivo,sans-serif;
}

body {
  background-color:#f2f4fa;
}
textarea,input{
  background-color:	#fff;
  border-style: dashed;
  border-width: 2px;
  border-radius: 8px;
  margin-bottom: 5px;
}
button{
  border-radius: 15px;
  padding: 12px 25px 12px;
  background-color: #f2f8fa;
  border-style: solid;
  border-width: 1px;
  border-color: #d4f2fc;
  text-align: center;
  font-size: 16px;
  outline: 0;
}
button:hover{
  background-color:#d4f2fc;
  border-color: #70dbff;
}

input::-moz-focus-inner { 
  border: 0; 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nav-link {
  font-size: large;
  padding-right: 25px !important;
}