body {
  background: linear-gradient(90deg, #0d84f4, #0a43b5 100%)!important;
}

.verticalalign {
  height: 100%;
  position: relative;
}

.vertical-center {
  margin: 0;
  width:100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.color-white {
  color:#fff;
}

.btn-layout {
  background-color:rgb(173, 173, 173);
  border:none;
}

.btn-layout:hover {
  background-color:rgb(195, 195, 195);
  border:none;
}

.btn-layout:focus {
  background-color:rgb(180, 180, 180);
  border:none;
  box-shadow: 0 0 0 0.25rem rgba(195,195,195,.4);
}

.card-prop2 {
  border: none;
  border-radius: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-box-shadow: 0 0 100px #eaeaea6e;
  -webkit-box-shadow: 0 0 100px #eaeaea6e;
  box-shadow: 0 0 100px #eaeaea6e;
}